table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}


div.tableContainer{
width: 100%;
color: black;
}

button.wniosek2{
    border: none;
    background: none;
    cursor: pointer;
    color: lightslategrey;
  }

  button.wniosek{
    border: none;
    background: none;
    outline: none;
  }


  button.wniosek:hover{
    transform:scale(1.5);
  }


  input[type="search"] {
    position: relative;
    float: right;
    background-color:lightslategrey;
    left: 10%;
    bottom: 5px;
}

input[type="search"]:focus{

  outline: 2px solid #2F4F4F;
  background-color: lightgray;
}

div.tableContainer label{
font-size: 16px;
position: relative;
float: right;
text-align: center;
display: block;
}